name: Laravel

on:
  push:
    branches: [ To-Do-App-V2 ]
  pull_request:
    branches: [ To-Do-App-V2 ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.0'
    - uses: actions/checkout@v2
    - name: Copy .env
    - uses: actions/cache@v2
      id: cache-db
      with:
        path: ~/.symfony/cache
        key: db
    - uses: symfonycorp/security-checker-action@v2
      with:
        disable-exit-code: 1
      id: security-check
    - name: Display the vulnerabilities as JSON
      run: echo ${{ steps.security-check.outputs.vulns }}
